services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: kitchen_command
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - kcc-net

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - kcc-net

volumes:
  pgdata:

networks:
  kcc-net:
